<a class="button" href="/logout">Log out</a>

<h1>Edit Meeting</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>
<form action="/meetings/<%=@meeting.id%>" method="POST">
		<input type="hidden" name="_method" value="patch">
				<table align="center">       
        <tr><td><label>Topic: </label></td></tr>
        <tr><td><input type="text" id="book_title" name="meeting[topic]" value="<%= @meeting.topic %>" ></td></tr> 
        <tr><td><label>Date and time: </label></td></tr>
        <tr><td><input type="text" id="start_page" name="meeting[date_and_time]" value="<%= @meeting.date_and_time %>"></td></tr>
        <tr><td><label>Location: </label></td></tr>
        <tr><td><input type="text" id="end_page" name="meeting[location]" value="<%= @meeting.location %>"></td></tr>
        <tr><td><input type="submit" value="submit" class="button"></td></tr>        
		</table>
</form>