<a class="button" href="/meetings">all meetings</a>
<table align="center">          
		<tr><td><h3>Meeting Topic: <%= @meeting.topic %></h3></td></tr>
		<tr><td>Date and time: <%= @meeting.date_and_time %></td></tr>
		<tr><td>Location: <%= @meeting.location %></td></tr>
		<tr><td>Book Club:  <%= @meeting.book_club.name %></td></tr>
		
		<tr><td>Members:</td></tr>
		<tr>
			<td>
				<ul>
				<% @meeting.users.each do |user| %>
					<li><a href="/users/<%= user.slug %>"> <%= user.username %></a></li>
				<% end %>
				</ul>
			</td>
		</tr>
		<tr>
        <td><a class="button" href="/meetings/<%= @meeting.id %>/edit">Edit</a></td>
    </tr>
    <tr>       
    	<td>	
        	<form action="/meetings/<%=@meeting.id%>/delete" method="post">
		      	<input type="submit" class="button" name="delete" value="Delete">
					</form>
	    </td>							
	  </tr>        
</table>
