<a class="button" href="/book_clubs">all book clubs</a>
<table align="center">          
		<tr><td><h3><%= @book_club.name %></h3></td></tr>
		<tr><td>About: <%= @book_club.about %></td></tr>
		<tr><td>Organizer: <%= @book_club.organizer %></td></tr>
		<tr><td>Meetings:</td></tr>
		<tr>
			<td>
				<ul>
				<% @book_club.meetings.each do |meeting| %>
					<li><a href="/meetings/<%= meeting.id %>"><%= meeting.topic %></a></li>
				<% end %>
				</ul>
			</td>
		</tr>
		<tr><td>Members:</td></tr>
		<tr>
			<td>
				<ul>
				<% @book_club.users.each do |user| %>
					<li><a href="/users/<%= user.slug %>"> <%= user.username %></a></li>
				<% end %>
				</ul>
			</td>
		</tr>
</table>
