<a class="button" href="/logout">Log out</a>

<h1>Edit <%= @user.username %>'s User Profile</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/users/<%=@user.slug%>" method="POST">
		<input type="hidden" name="_method" value="patch">
				<table align="center">       
        <tr><td><label>Email: </label></td></tr>
        <tr><td><input type="text" id="email" name="user[email]" value="<%= @user.email %>" ></td></tr> 
        <tr><td><label>Book Club: </label></td></tr>
        <tr><td><input type="text" id="book_club" name="user[book_club]" value="<%= @user.book_club.name %>"></td></tr>
        <tr><td><label>Meetings: </label></td></tr>
        <% Meeting.all.each do |meeting| %>
    				<label><%= meeting.topic %></label>
    				<input type="checkbox" name="user[meetings][]" value="<%= meeting.id %>" id="<%= meeting.topic %>" <%='checked' if @user.meetings.include?(meeting) %>>
  			<% end %>

        <tr><td><input type="submit" value="submit" class="button"></td></tr>        
		</table>
</form>